body {
    font-family: 'Sora', sans-serif;
    color: #0f0f0f;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    /* padding: 16px 0 0 0; */
    background-color: #e4dada;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
} */

/* Navbar section */
.navbar {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e9e1e1;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 0 30px;
}

.navbar .logo {
    display: flex;
    align-content: center;
    align-items: center;
    width: 50px;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1rem;
    color: #FF9A5A;
    
}

.navbar .logo img {
    width: 80px;
    height: 80px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: #0f0f0f;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: 'Sora', sans-serif;
    transition: all 0.2s ease-in-out;
    
}
.menu a:hover {
    /* text-decoration: underline; */
    color: #FF9A5A;
    transform: translateX(40px);
}

.navbar .btn button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}


.navbar .btn button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.navbar .btn button:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

/* footer section */
#main-footer {
    background: #1f1e1e;
    opacity: 0.8;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer .footer-container {
    margin:0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.footer-container .footer-links {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
