body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 16px;
}

.navbar {
    width: 100%;
    max-width: 1205px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar .logo {
    display: flex;
    align-content: center;
    align-items: center;
    width: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1rem;
    color: #FF9A5A;
    
}

.navbar .logo img {
    width: 80px;
    height: 80px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    transition: all 0.2s ease-in-out;
    
}
.menu a:hover {
    /* text-decoration: underline; */
    color: #FF9A5A;
    transform: translateX(40px);
}

.navbar .btn button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}


.navbar .btn button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.navbar .btn button:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.navbar .left {
    font-weight: bold;
    font-size: 32px;
}

.navbar .left span {
    color: rgb(123, 111, 46);
}
.navbar .right {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right a {
    text-decoration: none;
    color: black;
}

.navbar .right a:hover {
    text-decoration: underline;
}
.navbar .right img {
    width: 24px;
    height: 24px;
} */

.bar1, 
.bar2, 
.bar3 {
    background-color: black;
    width: 32px;
    height: 4px;
    margin: 3px;
    border-radius: 10px;
    display: none;
}

.navbar .hamburger {
    display: none;
    
}
.navbar .hamburger:hover {
    cursor: pointer;
    
}

.mobileNav {
    width: 80px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -160px;
    padding: 16px;
    transition: transform 0.5s;
}

.mobileNav img {
    width: 24px;
    height: 24px;
    margin: 16px 0;
}

.openDrawer {
    transform: translateX(-160px);
}

.mobileNav a {
    text-decoration: none;
    color: black;
    margin: 16px 0;
}
.mobileNav a:hover {
    text-decoration: underline;
}

.grid-project {
    display: grid;
    grid-template-areas: 
    "eth eth alphabet"
    "eth eth traveler"
    "astro cube traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
    gap: 16px;
    margin: 0 auto;
    
}

#eth {
    grid-area: eth;
}

#alphabet {
    grid-area: alphabet;
}
#traveler {
    grid-area: traveler;
}
#astro {
    grid-area: astro;
}
#cube {
    grid-area: cube;
}
#cup {
    grid-area: cup;
}
#insta {
    grid-area: insta;
}
#foam {
    grid-area: foam;
}
#dimensional {
    grid-area: dimensional;
}

.project {
    /* width: 300px; */
    position: relative;
    
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project .overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.1);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.2s ease;
}

.overlay.white {
    color: white;
}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 64px;
    color: rgb(123, 111, 46);
}

@media only screen and (max-width: 1100px) {
    .container {
        max-width: 100%;
    }

    .navbar .left {
        font-size: 30px;
    }
    .navbar .right {
        width: 300px;
    }
    .grid-project {
        max-width: 100%;
        grid-template-areas:  
        "eth eth"
        "alphabet traveler"
        "astro cube"
        "insta insta"
        "cup foam"
        "dimensional dimensional"
        ;
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        padding: 16px 24px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        background-color: white;
        width: 100%;
    }
    
    .navbar .right {
        display: none;
    }
    .navbar .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid-project {
        margin-top: 100px;
        grid-template-areas:  
        "eth eth"
        "alphabet alphabet" 
        "traveler traveler"
        "astro cube"
        "insta insta"
        "cup cup"
        "foam foam"
        "dimensional dimensional"
        ;
    }
    .project .overlay {
        font-size: 24px;
    }

    .footer {
        font-size: 14px;
        padding: 20px;
    }
}

.animatebar1 {
    animation: flipbar1 1s;
    animation-fill-mode: forwards;
}
.animatebar2 {
    animation: flipbar2 1s;
    animation-fill-mode: forwards;
}
.animatebar3 {
    animation: flipbar3 1s;
    animation-fill-mode: forwards;
}

@keyframes flipbar1 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg) translate(4px, 10px);
        
    }
}
@keyframes flipbar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(0);
        opacity: 0;
    }
}
@keyframes flipbar3 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-45deg) translate(4px, -10px);
        
    }
}