body {
    font-family: "Roboto", sans-serif;
    color: #000;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 16px 0 0 0;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* Navbar section */
.navbar {
    width: 100%;
    max-width: 1205px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f0f0;
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar .logo {
    display: flex;
    align-content: center;
    align-items: center;
    width: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1rem;
    color: #918dbc;
}

.navbar .logo img {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
    
}
.menu a:hover {
    text-decoration: underline;
    color: #332d78;
    
}

.navbar .btn button {
    padding: 14px 24px;
    background-color: #8580b8;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: all 0.2s ease;
}

.navbar .btn button:hover {
    cursor: pointer;
    color: black;
    opacity: 0.5;
}

/* Hero section */
#showcase {
    background: #352727;
    padding: 2rem;
    position: relative;
}
#showcase::before {
    content: '';
    background: url(assets/Hero.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.container {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    color: white;
    z-index: 1;
}

.welcome-message h1 {
    font-size: 50px;
    border-bottom: 2px solid #918dbc;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 0;
}
.welcome-message h2 {
    font-size: 30px;
    font-style: italic;
    color: #332d78;
}
.welcome-message p {
    font-size: 16px;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
}

.welcome-message button {
    padding: 14px 24px;
    background-color: #8580b8;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: all 0.2s ease;
}

.welcome-message button:hover {
    cursor: pointer;
    color: black;
    background-color: #8580b8;
    opacity: 0.5;
    transform: translateY(-5px);
}

/* Main section */
.section-container {
    width: 100%;
}

.two-column {
    width: 100%;
    max-width: 1203px;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-column .col-left {
    background-color: #8580b8;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.two-column .col-left h2 {
    color: #fff;
    font-size: 108px;
    width: 200px;
    margin-top: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.two-column .col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
}

.two-column .col-right h2 {
    color: #3e3e3e;
    font-family: "Paytone One";
    font-size: 36px;
}

.two-column .col-right p {
    font-size: 18px;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    color: #6A6A6A;
    line-height: 2;
}

.two-column .col-right button {
    padding: 12px 24px;
    background-color: #8580b8;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: all 0.2s ease;
}

.two-column .col-right button:hover {
    cursor: pointer;
    background-color: #8580b8;
    color: #000;
    opacity: 0.5;
    transform: translateY(-5px);
}

/* Service Section */
.service-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8580b8;
    margin: 10px 0;
    font-family: 'Cormorant Garamond', serif;
}

.service-section h2 {
    font-size: 50px;
    color: #fff;
    margin: 0;
    padding-top: 10px;
    /* background-color: #918dbc; */
}

.service-section .container-icon p {
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.service-section .container-icon img {
    width: 150px;
    height: 150px;
}

.service-section .container-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}


/* Footer Section */
#main-footer {
    background: #918dbc;
    opacity: 0.5;
    color: #fff;
    width: 100%;
    /* height: 170px; */
    padding: 10px;
    box-sizing: border-box;
}

#main-footer .footer-container {
    margin:0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.footer-container .footer-links {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
